body{
    background-color: #efe528;
}

.container{
    display: block;
    background-color: #ffff;
    color: #000000;
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
}

.title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

#parameters{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

button{
    text-align: center;
    width: 110px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    background-color: #efe528;
    color:#000000;
}

#time{
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}


#progress-bar{
    display: flex;
    padding: 18px;
    border-radius: 20px;
}

.bar{
    display: flex;
    padding: 0px;
    border-radius: 20px;
    border-color: #000000;
    border: 3px solid;
}